body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: black;
}
body *
{
    background-color: rgb(30, 120, 195);
    border-radius: 20px;
    margin:20px;
    padding:20px;
    color:white;
    text-align: center;
}
.contenedor 
{
    margin:0;
    padding:0;
    background-color: transparent;
}
article
{
    background-color: rgb(40, 70, 175);
}
@media all and (min-width: 400px) and (max-width: 960px)
{
    .contenedor
    {
        display:flex;
    }
    .contenedor section
    {
        width:70%;
        margin:20px;
    }
    .contenedor aside 
    {
        width:30%;
        margin:20px;
    }
}