div
{
    margin:10px;
}

div>h1
{
    padding: 30px 0px 0px 0px;
}

.recuadro1
{
    padding: 10px;
    column-count: 3;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    column-rule: 3px solid red;
}
.recuadro2
{
    padding: 10px;
    column-count: 3;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    column-rule: 3px dotted red;
}
.recuadro3
{
    padding: 10px;
    column-count: 3;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    column-rule: 3px dashed blue;
}