body 
{
    text-align: left;
    justify-content: center;
    display:flex;
    position: absolute;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    background:url("../imagenes/madera1.png");
}

.recuadro1, .recuadro2, .recuadro3
{
    width:300px;
    height:200px;
    background:url("../imagenes/casa.png") left top no-repeat;
    background-size: 100px 100px;
    background-color:yellow;
    padding:20px;
    margin:20px;
}
.recuadro1
{
    background-origin: top left;
}
.recuadro2
{
    background-origin: top left;
}
.recuadro3
{
    background-origin: top left;
}