.contenedor
{
    display:flex;
    justify-content: center;
}

.recuadro1,.recuadro2
{
    margin:10px;
    padding:10px 10px 0px 10px;
    display:inline-block;
    width: 300px;
    height: 300px;
}
.recuadro1
{
    background-color:lightgray;
    border-radius: 20px 0px 20px 0px;
}
.recuadro2
{
    background-color:olive;
    border-radius: 0px 50px 0px 0px;
}