body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
img 
{
    margin-left: -55px;
    transform: skewX(20deg);
}
.slider-k
{
    position:absolute;
    border:2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px grey;
    width:800px;
    display:flex;
    overflow: hidden;
}
.frame-k
{
    border-left: 10px solid #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 300px;
    overflow: hidden;
    transform: skewX(-20deg);
    transition: width 1.2s ease-in-out;
}
.slider-k > div:first-child
{
    margin-left: -63px;
}
.slider-k > div:last-child
{
    width: 50%;
    margin-right: -63px;
}
.slider-k:hover div
{
    cursor: w-resize;
    width: 15%;
}
.slider-k:hover div:hover
{
    width: 392px;
}
.slider-k:hover > div:last-child
{ 
    width: 50%;
}
.slider-k:hover > div:last-child:hover
{
    width: 100%;
}