body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    border:2px solid lightblue;
    overflow:hidden;
}
header
{
    display:flex;
    background-color:gray;
    justify-content:flex-end;
    padding-top:80px;
    height:100px;
}
h1
{
    text-align:center;
    font-size:40px;
    height:20px;
}
section
{
    height:calc(100% - 360px);
    width:100%;
}
div
{
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
}
article
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:50px;
    text-align: justify;
    align-items: center;
    height:100%;
}
article img
{
    display:flex;
    order:1;
    width:500px;
    height:200px;
}
article h2
{
    display:flex;
    order:2;
}
article p
{
    display:flex;
    order:3;
}
article button
{
    display: flex;
    order:4;
    width:200px;
    justify-content: center;
    padding:10px 30px 10px 30px;
    position:absolute;
    bottom:20px;
}
article:nth-of-type(1)
{
    background-color:lightblue;
}
article:nth-of-type(2)
{
    background-color:lightgreen;
}
article:nth-of-type(3)
{
    background-color:lightseagreen;
}