body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
h1
{
    text-align: center;
}
#Normal
{
    font-size: 1.5em;
    text-decoration: underline;
    color:red;
}
.parrafo,.div,.span
{
    color:white;
    font-weight: bold;
    border: thick solid black;
}
.parrafo
{
    background-color: red;
}
.div
{
    background-color: green;
    margin-top:12px;
    margin-bottom:12px;
}
.parrafo,.div
{
    width: 25%;
    height: 75px;
}
.span
{
    margin-top:30px;
    margin-bottom:30px;
    background-color:blue;
}