body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
body > div
{
    display: table;
    width:100%;
    height:100%;
    table-layout: fixed;
    text-align: justify;
}
body > div > div
{
    display: table-row;
}
div p
{
    
    border:5px solid saddlebrown;
    display: table-cell;
    background-color: darkorange;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}