body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
#contenedor
{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: rgb(43, 39, 39);
    width:500px;
    height:200px;
    margin:auto;
}
#caja1,#caja2,#caja3,#caja4
{
    padding:20px;
    background-color: gray;
    color:white;
    justify-content: center;
    text-align: center;
    display:flex;
    width:100px;
    margin:2px;
    height:50px;
}
#caja4
{
    width:190px;
}