body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
#menu
{
    background-color: blue;
    display:flex;
    justify-content:end;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height:50px;
}
.caja
{
    font-size: 15px;
    font-family: Arial;
    color:white;
    justify-content: center;
    text-align: center;
    align-items: center;
    display:flex;
    width:100px;
    height:100%;
}