main{
	width: 600px;
	margin: 0px auto;
	border:1px solid black;
	border-radius: 20px;
}
h1{
	text-align:center;
	font-size: 2em;
}
audio{
	width: 350px;
	margin: 10px auto;
	display:block;
}
video{
	width: 350px;
	margin: 10px auto;
	display:block;
}