body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
.contenedor
{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:100%;
    column-gap: 5px;
    row-gap: 5px;
}
div div
{
    border:10px solid black;
    font-size:30px;
    text-align:center;
    background-color:gray;
}
.caja1,.caja2,.caja3,.caja4,.caja5,.caja6
{
    width:100px;
    height:100px;
}
.caja6
{
    margin-top:40px;
    margin-left:40px;
    background-color:blue;
}