body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
img{position:relative;box-shadow: 10px 10px 10px grey;margin:50px;}
#img1
{

}
#img2
{

}
#img3
{

}
#img4
{

}
#img5
{

}
#img6
{

}