body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
.contenedor
{
    display:flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.contenedor div 
{
    width:400px;
    margin:20px;
    padding:20px;
    background-color: lightgrey;
    border:2px solid black;
    position:relative;
    transition: background-color 2s, color 2s, transform 2s, border-radius 2s;
}
.contenedor div span 
{
    display:block;
}
.contenedor:hover > div
{
    border-radius: 20px;
    background-color: red;
    color:white;
    transform: skewX(-15deg) translateX(500px) rotate(5deg);
}
.contenedor div[class="caja1"]
{
    transition-timing-function: ease;
}
.contenedor div[class="caja2"]
{
    transition-timing-function: linear;
}
.contenedor div[class="caja3"]
{
    transition-timing-function: ease-in;
}
.contenedor div[class="caja4"]
{
    transition-timing-function: ease-out;
}
.contenedor div[class="caja5"]
{
    transition-timing-function: ease-in-out;
}