html
{
    position: absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
body
{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(84,83,101,1) 50%, rgba(0,0,0,1) 100%);                                                                                    
}
body h2 
{
    color:white;
}
.contenedor 
{
    width:138px;
    display:flex;
    flex-direction: column;
}
#home,#about,#services,#portfolio,#contact_us
{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:38px;
    height:38px;
    overflow: hidden;
}
#home img
{       
    object-fit: cover;
    object-position: 0px 0px;
}
#about img
{
    object-fit: cover;
    object-position: -38px 0px;
}
#services img
{
    object-fit: cover;
    object-position: -76px 0px;
}
#portfolio img
{
    object-fit: cover;
    object-position: -114px 0px;
}
#contact_us img
{
    object-fit: cover;
    object-position: -152px 0px;
}
.contenedor > div
{
    display:flex;
}
#c-home div:nth-of-type(2)
{
    background-color: rgba(144, 238, 144, 0.8);
    transition: width 2s;
    overflow: hidden;
    width:0px;
    height: 38px;
}
#c-about div:nth-of-type(2)
{
    background-color: rgba(135, 206, 250, 0.8);
    transition: width 2s;
    overflow: hidden;
    width:0px;
    height: 38px;
}
#c-services div:nth-of-type(2)
{
    background-color: rgba(255, 160, 122, 0.8);
    transition: width 2s;
    overflow: hidden;
    width:0px;
    height: 38px;
}
#c-portfolio div:nth-of-type(2)
{
    background-color: rgb(228, 162, 40, 0.8);
    transition: width 2s;
    overflow: hidden;
    width:0px;
    height: 38px;
}
#c-contact_us div:nth-of-type(2)
{
    background-color: rgba(255, 182, 193, 0.8);
    transition: width 2s;
    overflow: hidden;
    width:0px;
    height: 38px;
}
#c-home:hover div:nth-of-type(2), #c-about:hover div:nth-of-type(2), 
#c-services:hover div:nth-of-type(2), #c-portfolio:hover div:nth-of-type(2),
#c-contact_us:hover div:nth-of-type(2)
{
    width:100px;
}