body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;

    background-image: url(../imagenes/paper.gif);
}
h1
{
    color:grey;
    text-align: center;
    width:100%;
}
#contenedor
{
    margin:auto;
    margin-top:50px;
    background-color:lightcyan;
    border:10px groove lightgray;
    width:750px;
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
img
{
    border:3px solid white;
}
#contenedor div
{
    width:215px;
    height:180px;
    background-color: lightblue;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    margin:10px;
    padding:5px;
}
#contenedor div>p
{
    color:white;
    font-family: 'Trebuchet MS';
    font-size: 0.7em;
    text-align: center;
}