body
{
    position:absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
.caja
{
    border: solid 4px black;
    padding: 0px 20px 20px 0px;
    width: 200px;
    font-weight: bold;
}
#Relativo
{
    font-size: 1.5em;
    color:red;
    text-decoration: underline;
}
#Caja1
{
    background-color:red;
    position: relative;
    display:block;
}
#Caja2
{
    background-color:blue;
    position: relative;
    display:block;
    left:100px;
    top:-50px;
}
#Caja3
{
    background-color:green;
    position: relative;
    display:block;
}
#Caja4
{
    background-color:lightblue;
    position: relative;
    display:block;
    left:250px;
    top:-200px;
}
#Caja5
{
    background-color:lightgreen;
    position: relative;
    right:50px;
}