body
{
    color:red;
}

strong
{
    color:blue;
}

span
{
    color:green;
}

em
{
    font-style: italic;
    color:yellow;
}

del
{
    text-decoration:line-through;
    font-weight: 20;
    color:yellow;
}