body 
{
    text-align: left;
    justify-content: center;
    display:flex;
}

.recuadro1, .recuadro2, .recuadro3
{
    width:300px;
    height:150px;
    border:lightgray solid 20px;
    background:url("../imagenes/casa.png") left top no-repeat;
    background-size: 100px 100px;
    background-color:yellow;
    padding:20px;
    margin:20px;
}
.recuadro1
{
    background-origin: border-box;
}
.recuadro2
{
    background-origin: padding-box;
}
.recuadro3
{
    background-origin: content-box;
}