h1 
{
    color:teal;
}
strong
{
    color:red;
}
.destacado
{
    color:orange;
}
h2
{
    color:blue;
}
a
{
    color:red;
}
em
{
    color:blue;
    font-style:italic;
}
.adicional
{
    color:olive;
}

.adicional span,.adicional a
{
    color:green;
}

span.especial
{
    color:purple;
}