

/* El cuerpo de la página debe mostrar un margen de media pulgada */
body { margin: 0.5in; }
 
/* Los elementos <h1> deben mostrar un interlineado de 2 centímetros */
h1 { line-height: 2cm; }
 
/* Las palabras de todos los párrafos deben estar separadas 4 milímetros entre si */
p { word-spacing: 4mm; }
 
/* Los enlaces se deben mostrar con un tamaño de letra de 12 puntos */
a { font-size: 12pt }
 
/* Los elementos <span> deben tener un tamaño de letra de 1 pica */
span { font-size: 1pc }

