div[class*="uno"] li
{
  background: slategrey;
}

div[class*="uno"] li:first-child
{
  background: lightsteelblue;
}

div[class*="dos"] 
{
  color: red;
  background: white;
}

div[class*="dos"] i
{
  font-style: normal;
}

div[class*="dos"] ol li:nth-last-child(2)
{
  background: lightsteelblue;
}

div[class*="dos"]::after
{
  content: "Soy posterior al bloque 2";
  color: green;
}

div[class*="tres"] 
{
  background: white;
}

div[class*="tres"]::before
{
  content: "Soy previo al bloque 3";
  color: blue;
}

div[class*="tres"] :nth-child(2n+1) :nth-child(-n+3)
{
  background: lightsteelblue;
}

body {
  padding: 1em 2em;
}

ul, ol {
  list-style: none;
  padding: 0;
}
li {
  text-align: center;
  line-height: 2;
  background: slategrey;
}
div {
  width: 12em;
  float: left;
  margin-right: 2em;
}
hr {
  clear: both;
  padding-top: 1em;
  border: 0;
  border-bottom: 1px solid grey;
}

.uno li{
  background: lightsteelblue;
}

.dos{
  background: lightsteelblue;
}

.tres {
  background: lightsteelblue;
}